---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: frigate
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: frigate-at
  timeout: 20m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      hostNetwork: false
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:

            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.16.3@sha256:cf4305d9f1c673d71c4d0fab30ca56ca05ac91168711a74ee7867a4691a7ad02

            env:
              TZ: ${TIMEZONE}

            envFrom:
              - secretRef:
                  name: frigate-secret

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/version
                    port: &port 5000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false

            securityContext:
              privileged: true

            resources:
              claims:
                - name: intel-gpu
              # requests:
                # cpu: 2821m
                # memory: 9617M
              # limits:
              #   memory: 17G

        pod:
          # annotations:
          #   k8s.v1.cni.cncf.io/networks: |
          #     [{
          #       "name":"multus-tau",
          #       "namespace": "network",
          #       "ips": ["192.168.108.55/24"],
          #       "mac": "aa:42:2c:ac:3a:aa"
          #     }]
          resourceClaims:
            - name: intel-gpu
              resourceClaimTemplateName: frigate-gpu
          nodeSelector:
            google.feature.node.kubernetes.io/coral: "true"

    service:
      frigate:
        controller: main
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          io.cilium/lb-ipam-ips: 192.168.108.55
        ports:
          http:
            appProtocol: kubernetes.io/wss
            primary: true
            port: *port
          go2rtc:
            enabled: true
            port: &api-port 1984
          rtsp:
            enabled: true
            port: &restream-port 8554
          webrtc-tcp:
            port: 8555
            protocol: TCP
          webrtc-udp:
            port: 8555
            protocol: UDP

    route:
      frigate:
        hostnames:
          - frigate.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network

        rules:
          - backendRefs:
              - identifier: frigate
                port: *port
      go2rtc:
        hostnames:
          - go2rtc.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network

        rules:
          - backendRefs:
              - identifier: frigate
                port: *api-port

    persistence:
      config:
        enabled: true
        existingClaim: frigate
        globalMounts:
          - path: /data
      config-file:
        type: configMap
        name: frigate-configmap
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: false
      modelcache:
        existingClaim: frigate-model-cache
        globalMounts:
          - path: /config/model_cache
      cache:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 30Gi
        globalMounts:
          - path: /dev/shm
      dri:
        enabled: true
        type: hostPath
        hostPath: /dev/dri
        hostPathType: Directory
        globalMounts:
          - path: /dev/dri
      nfs-cctv:
        type: nfs
        server: tower.local
        path: /mnt/user/cctv
        globalMounts:
          - path: /media
            readOnly: false
