---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ollama-ui
  namespace: ai
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: ollama-ui-at
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          main:
            image:
              repository: ghcr.io/ollama-webui/ollama-webui
              tag: main
            env:
              OLLAMA_API_BASE_URL: http://ollama.ai.svc:11434/api
            resources:
              requests:
                cpu: 200m
                memory: 2Gi
              limits:
                memory: 2Gi

    service:
      main:
        controller: main
        ports:
          http:
            port: &httpPort 8080

    route:
      app:
        hostnames: ["chat.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: main
                port: *httpPort

    persistence:
      config:
        enabled: true
        existingClaim: ollama-ui-pvc
        globalMounts:
          - path: /app/backend/data