---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: home-assistant-at
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    timeout: 45m
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  dependsOn:
    - name: longhorn
      namespace: storage
  values:
    defaultPodOptions:
      hostNetwork: true
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.12.5@sha256:6be0843b06ad82233639e56f261b2377f78df140e3d16d2d08b2c29c8889b697
            envFrom:
              - secretRef:
                  name: hass-secrets
            env:
              TZ: ${TIMEZONE}
              PYTHONPATH: "/config/deps"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            securityContext:
              privileged: true
              #CHANGEME ON THE NEXT UPDATE
              readOnlyRootFilesystem: false
              capabilities:
                add:
                  - NET_ADMIN
                  - NET_RAW
                  - NET_BROADCAST
            resources:
              requests:
                cpu: 92m
                memory: 717M
              limits:
                memory: 5109M
        pod:
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          # nodeSelector:
          #   sonoff.feature.node.kubernetes.io/dongle-e: "true"
    service:
      main:
        controller: main
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.108.44
        ports:
          http:
            port: &httpPort 8123
          mdns-tcp:
            enabled: true
            port: 5353
            protocol: TCP
            targetPort: 5353
          mdns-udp:
            enabled: true
            port: 5353
            protocol: UDP
            targetPort: 5353
    route:
      webhook:
        hostnames:
          - call-home.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - matches:
              - path:
                  type: Exact
                  value: /api/webhook/update_config
            backendRefs:
              - identifier: main
                port: *httpPort
      local:
        hostnames:
          - hass.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: main
                port: *httpPort
      main:
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hostnames:
          - home.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *httpPort

    persistence:
      config:
        enabled: true
        existingClaim: home-assistant
      # usb:
      #   enabled: true
      #   type: hostPath
      #   hostPath: /dev/serial/by-id/usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20240122203435-if00
      #   # hostPathType: CharDevice
      #   globalMounts:
      #   - path: /dev/serial/by-id/usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20240122203435-if00
      tmp:
        type: emptyDir
      deploy-key:
        type: secret
        name: hass-secrets-gh
        defaultMode: 256
        globalMounts:
          - path: /root/.ssh/id_rsa
            subPath: GITHUB_DEPLOY_KEY
      known-hosts:
        type: secret
        name: hass-secrets-gh
        defaultMode: 256
        globalMounts:
          - path: /root/.ssh/known_hosts
            subPath: GITHUB_KNOWN_HOSTS
