---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: music-assistant
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: music-assistant-at

  values:
    defaultPodOptions:
      hostNetwork: true
    controllers:
      music-assistant:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 0
            runAsGroup: 0
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/music-assistant/server
              tag: 2.6.3
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 15m
                memory: 184M
              limits:
                memory: 3G

    service:
      mass:
        controller: music-assistant
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "192.168.108.22"
        ports:
          http:
            port: &httpPort 8095
          flow:
            port: 8097

    route:
      mass:
        hostnames:
          - mass.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: mass
                port: *httpPort

    persistence:
      data:
        existingClaim: music-assistant-config
        advancedMounts:
          music-assistant:
            app:
              - path: /data
      addons-hass:
        existingClaim: music-assistant-addons-hass
        advancedMounts:
          music-assistant:
            app:
              - path: /app/venv/lib/python3.13/site-packages/hass_client
      nfs-media:
        type: nfs
        server: tower.local
        path: /mnt/user/media
        globalMounts:
          - path: /nfs-media
            readOnly: false
      temp:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 2Gi
        globalMounts:
          - path: /tmp