---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: music-assistant-config
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-fast
  volumename: pvc-71057e6f-cea8-44c9-adae-f8440739635c
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: music-assistant-cache
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 256Mi
  storageClassName: longhorn-fast