---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ollama
spec:
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  targetNamespace: ai
  path: "./kubernetes/apps/ai/ollama/backend"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  dependsOn:
    - name: longhorn
      namespace: storage
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ollama-web-ui
spec:
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  targetNamespace: ai
  path: "./kubernetes/apps/ai/ollama/ui"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  dependsOn:
    - name: ollama
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret