---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant-code
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: ha-code-at
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    timeout: 45m
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.107.0
            env:
              TZ: ${TIMEZONE}
            args:
              - --auth
              - "none"
              - --user-data-dir
              - "/config/.vscode"
              - --extensions-dir
              - "/config/.vscode"
              - "--port"
              - "80"
              - /config
            resources:
              requests:
                cpu: 23m
                memory: 226M
              limits:
                memory: 2G
        pod:
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
              - labelSelector:
                  matchExpressions:
                    - key: "app.kubernetes.io/name"
                      operator: In
                      values:
                        - home-assistant
                topologyKey: "kubernetes.io/hostname"
    service:
      hacode:
        controller: main
        ports:
          http:
            port: &httpPort 80

    route:
      hacode:
        hostnames:
          - hass-code.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: hacode
                port: *httpPort

    persistence:
      config:
        enabled: true
        existingClaim: home-assistant
      deploy-key:
        type: secret
        name: hass-secrets-gh
        defaultMode: 256
        globalMounts:
          - path: /root/.ssh/id_rsa
            subPath: GITHUB_DEPLOY_KEY
      known-hosts:
        type: secret
        name: hass-secrets-gh
        defaultMode: 256
        globalMounts:
          - path: /root/.ssh/known_hosts
            subPath: GITHUB_KNOWN_HOSTS
