---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mealie
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: mealie-at

  values:
    controllers:
      mealie:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 17.4
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: mealie-secret

        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.10.2@sha256:58b54bca4c729fcc7f272cfac5086623866430956838de3f5d763fcaf9e64115
            env:
              TZ: "${TIMEZONE}"
              BASE_URL: https://mealie.${SECRET_DOMAIN}
              DB_ENGINE: postgres
              # SMTP_HOST: smtp.mailgun.org
              # SMTP_PORT: 587
              # SMTP_FROM_NAME: Mealie
              # SMTP_FROM_EMAIL: noreply@${SECRET_DOMAIN}
              # SMTP_AUTH_STRATEGY: TLS
              # SMTP_USER: mealie@${SECRET_DOMAIN}
              OPENAI_BASE_URL: http://ollama.ai.svc:11434/v1
              OPENAI_MODEL: gemma3n:latest
              OPENAI_WORKERS: 2
              OPENAI_SEND_DATABASE_DATA: true
              OPENAI_REQUEST_TIMEOUT: 10
            envFrom: *envFrom
            resources:
              requests:
                memory: 250Mi
                cpu: 50m
              limits:
                memory: 500Mi

    service:
      app:
        controller: mealie
        ports:
          http:
            port: 9000

    ingress:
      app:
        enabled: true
        className: "internal"
        hosts:
          - host: "mealie.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      data:
        enabled: true
        existingClaim: mealie-pvc
        globalMounts:
          - path: /app/data