---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
  namespace: security
spec:
  interval: 5m
  chart:
    spec:
      chart: authentik
      version: 2025.10.1
      sourceRef:
        kind: HelmRepository
        name: authentik-charts
      interval: 5m
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
    cleanupOnFail: true
  rollback:
    timeout: 10m
    recreate: true
    cleanupOnFail: true
  dependsOn:
    - name: redis
      namespace: database
    - name: cloudnative-pg
      namespace: database
  values:
    global:
      deploymentAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret,authentik-s3-envs,authentik-geoip
        configmap.reloader.stakater.com/reload: authentik-custom-assets
      image:
        repository: ghcr.io/goauthentik/server
        tag: 2026.2.0
      fullnameOverride: authentik

    authentik:
      error_reporting:
        enabled: false
      disable_startup_analytics: true
      log_level: info
      secret_key: "${SECRET_AUTHENTIK_SECRET_KEY}"
      outposts:
        container_image_base: ghcr.io/goauthentik/%(type)s:%(version)s
      postgresql:
        host: "postgres16-rw.database.svc.cluster.local"
        name: "${SECRET_AUTHENTIK_POSTGRES_DBNAME}"
        user: "${SECRET_AUTHENTIK_POSTGRES_USERNAME}"
        password: "${SECRET_AUTHENTIK_POSTGRES_PASSWORD}"
      redis:
        host: "redis-sentinel-master.database.svc.cluster.local"
      email:
        host: "smtp-relay.service.svc.cluster.local"
        port: 25
        use_tls: false
        from: "Authentik <authentic@skynerv.com>"

    geoip:
      enabled: true
      image:
        repository: ghcr.io/maxmind/geoipupdate
        tag: v7.1.1@sha256:faecdca22579730ab0b7dea5aa9af350bb3c93cb9d39845c173639ead30346d2
      accountId: "1"
      licenseKey: stub
      env:
        - name: GEOIPUPDATE_HOST
          value: http://geoip-updates.geoip
      containerSecurityContext:
        readOnlyRootFilesystem: true
      volumeMounts:
        - name: tmp
          mountPath: /tmp

    server:
      replicas: 1
      initContainers:
        - name: init-db
          image: ghcr.io/onedr0p/postgres-init:17.4
          envFrom:
            - secretRef:
                name: *secret
      pdb:
        enabled: true
        minAvailable: 1
        maxUnavailable: 1

      containerSecurityContext:
        readOnlyRootFilesystem: true

      route:
        main:
          enabled: true
          hostnames: ["id.${SECRET_DOMAIN}"]
          annotations:
            external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          parentRefs:
            - group: gateway.networking.k8s.io
              kind: Gateway
              name: envoy-internal
              namespace: network
              sectionName: https
            - group: gateway.networking.k8s.io
              kind: Gateway
              name: envoy-external
              namespace: network
              sectionName: https

      metrics:
        serviceMonitor:
          enabled: true

      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          memory: 4Gi

      volumes:
        - name: custom-assets
          configMap:
            name: authentik-custom-assets
            
      volumeMounts:
        - name: custom-assets
          mountPath: /web/dist/custom.css
          subPath: custom.css

    worker:
      replicas: 1
      serviceAccount:
        create: true
      containerSecurityContext:
        readOnlyRootFilesystem: true
      resources:
        requests:
          cpu: 50m
          memory: 512Mi
        limits:
          memory: 3Gi
      volumes:
        - name: server-cert
          secret:
            secretName: "${SECRET_DOMAIN/./-}-production-tls"
      volumeMounts:
        - name: server-cert
          mountPath: "/certs/${SECRET_DOMAIN/./-}-production-tls"

    prometheus:
      rules:
        enabled: true

    postgresql:
      enabled: false
    redis:
      enabled: false
