---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prowlarr-config
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 500Mi
  storageClassName: longhorn-fast
  volumeName: pvc-f5f6b223-9d05-49a2-a538-d762d7ecca63