---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app mas
  namespace: flux-system
spec:
  targetNamespace: matrix
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/matrix/mas/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  interval: 1h
  retryInterval: 2m
  timeout: 5m