apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: longhorn
spec:
  path: ./kubernetes/apps/storage/longhorn/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: storage
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  # postBuild:
  #   substituteFrom:
  #     - name: cluster-secrets
  #       kind: Secret