---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: espresence
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: espresence-at
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: longhorn
      namespace: storage
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-config:
            image:
              repository: espresense/espresense-companion
              tag: 2.0.4-b85@sha256:52f72b41375f2af61e02ab5731add4236e942e7422ba9db958ffdd469b27f9b3
            command: ["/bin/sh", "-c"]
            args: ["cp /tmp/config/config.yaml /config/espresense/config.yaml && chmod 0700 /config/espresense/config.yaml && mkdir -p /config/espresense/.storage"]
        containers:
          main:
            image:
              repository: espresense/espresense-companion
              tag: 2.0.4-b85@sha256:52f72b41375f2af61e02ab5731add4236e942e7422ba9db958ffdd469b27f9b3
            # command: ["/bin/sh", "-c"]
            # args: ["sleep 10000"]
            env:
              TZ: ${TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 15m
                memory: 105M
              limits:
                memory: 105M
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        controller: main
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.108.11
        ports:
          espresence:
            port: &port 8267
    route:
      espresence:
        hostnames:
          - espresence.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network

        rules:
          - backendRefs:
              - identifier: main
                port: *port

    persistence:
      config:
        enabled: true
        existingClaim: espresence
        globalMounts:
          - path: /config/espresense
      config-file:
        type: configMap
        name: espresence-configmap
        advancedMounts:
          main:
            init-config:
              - path: /tmp/config