---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: espresence
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: espresence-at
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: longhorn
      namespace: storage
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: espresense/espresense-companion
              tag: 2.0.4-b85@sha256:ea1abb45e888b43c9ecddc1870bc160a9a22fa5c9cc5f071888ca4e9144cc946
              cmd: "cat /config/espresense/config.yaml"
            env:
              TZ: ${TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 15m
                memory: 105M
              limits:
                memory: 105M
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        controller: main
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.108.10
        ports:
          espresence:
            port: 8267
    persistence:
      config:
        enabled: true
        existingClaim: espresence
        globalMounts:
          - path: /config/espresense
      config-file:
        type: configMap
        name: espresence-configmap
        advancedMounts:
          main:
            main:
              - path: /config/espresense/config.yaml
                subPath: config.yaml