---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: espresence
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: espresence-at
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: longhorn
      namespace: storage
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-config:
            image:
              repository: espresense/espresense-companion
              tag: beta@sha256:e071a8ffb90a088580e4d0ea0f9272d1043f46d753c8ec9b30f9b083f38951fd
            command: ["/bin/sh", "-c"]
            args: ["cp /tmp/config/config.yaml /config/espresense/config.yaml && chmod 0700 /config/espresense/config.yaml && mkdir -p /config/espresense/.storage"]
        containers:
          main:
            image:
              repository: espresense/espresense-companion
              tag: beta@sha256:e071a8ffb90a088580e4d0ea0f9272d1043f46d753c8ec9b30f9b083f38951fd
            env:
              TZ: ${TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 15m
                memory: 150M
              limits:
                memory: 512M
          busybox:
            image:
              repository: amd64/busybox
              tag: 1.37@sha256:282a54cb84ae4f3ba231471645b378efa24eeb5b4d010286905f20c55557ed86
            command: ["/bin/sh", "-c"]
            args: ["mkdir -p /config/espresense && sleep infinity"]
            env:
              TZ: ${TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 15m
                memory: 50M
              limits:
                memory: 128M
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        controller: main
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.108.11
        ports:
          espresence:
            port: &port 8267
    route:
      espresence:
        hostnames:
          - espresense.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network

        rules:
          - backendRefs:
              - identifier: main
                port: *port

    persistence:
      config:
        enabled: true
        existingClaim: espresence
        globalMounts:
          - path: /config/espresense
      config-file:
        type: configMap
        name: espresence-configmap
        advancedMounts:
          main:
            init-config:
              - path: /tmp/config