---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app goldilocks
spec:
  chart:
    spec:
      chart: *app
      version: 10.2.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds
  interval: 15m
  dependsOn:
    - name: vpa
      namespace: observability
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  driftDetection:
    mode: enabled
    ignore:
      - paths:
          - /spec/containers/resources/limits
        target:
          kind: Pod
  values:
    image:
      repository: us-docker.pkg.dev/fairwinds-ops/oss/goldilocks
      tag: v4.14.10@sha256:f6e64163ec1210d1a7bc59c8004b836650c3aa1180f6354d2761a4bfe2e194dc
      pullPolicy: Always

    controller:
      enabled: true
      resources:
        requests:
          cpu: 15m
          memory: 105Mi
        limits:
          memory: 132Mi

    dashboard:
      enabled: true
      replicaCount: 1
      httpRoute:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        hostnames:
          - goldilocks.${SECRET_DOMAIN}
        matches:
          - path:
              type: PathPrefix
              value: /

      resources:
        requests:
          cpu: 15m
          memory: 105Mi
        limits:
          memory: 105Mi

    annotations:
      reloader.stakater.com/search: "true"