---
clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://192.168.108.250:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "192.168.108.250"
  - "k8s.skynerv.com"
  - "k8s.casa"
  - "k8s.home.arpa"
  - "k8s.lan"
  - "k8s.home"
additionalMachineCertSans: *sans

clusterPodNets: ["10.111.0.0/16"]
clusterSvcNets: ["10.222.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "laik"
    ipAddress: "192.168.108.149"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/2f1c847e5457afb7846b421f696d72f212633499dfe7f16fd667081b7904cfc6
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "00:e0:4c:01:8f:b3"
        vlans:
          - vlanId: 222
            addresses:
              - "192.168.108.149/20"
            mtu: 1500
            routes:
              - network: "0.0.0.0/0"
                gateway: "192.168.108.1"
            vip:
              ip: "192.168.108.250"
  - hostname: "sart"
    ipAddress: "192.168.108.209"
    installDiskSelector:
      serial: "NJR368R007597P70GX"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/2f1c847e5457afb7846b421f696d72f212633499dfe7f16fd667081b7904cfc6
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "e8:ff:1e:d1:26:0f"
        vlans:
          - vlanId: 222
            addresses:
              - "192.168.108.209/20"
            mtu: 1500
            routes:
              - network: "0.0.0.0/0"
                gateway: "192.168.108.1"
            vip:
              ip: "192.168.108.250"
  - hostname: "eri"
    ipAddress: "192.168.108.238"
    installDiskSelector:
      serial: "NJR368R008680P70GX"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/2f1c847e5457afb7846b421f696d72f212633499dfe7f16fd667081b7904cfc6
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "e8:ff:1e:d1:24:1b"
        vlans:
          - vlanId: 222
            addresses:
              - "192.168.108.238/20"
            mtu: 1500
            routes:
              - network: "0.0.0.0/0"
                gateway: "192.168.108.1"
            vip:
              ip: "192.168.108.250"
  - hostname: "tau"
    ipAddress: "192.168.108.199"
    installDiskSelector:
      serial: "HBSE53370100368"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/860472941166290c021d3922bfbdf9107a0a74454eab1501b491b962e8a03523
    controlPlane: false
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "58:11:22:d1:bb:57"
        vlans:
          - vlanId: 222
            addresses:
              - "192.168.108.199/20"
            mtu: 1500
            routes:
              - network: "0.0.0.0/0"
                gateway: "192.168.108.1"
  - hostname: "weilai"
    ipAddress: "192.168.108.212"
    installDiskSelector:
      serial: "CP031BM0608383"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/2f1c847e5457afb7846b421f696d72f212633499dfe7f16fd667081b7904cfc6
    controlPlane: false
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "e8:ff:1e:d0:c2:31"
        vlans:
          - vlanId: 222
            addresses:
              - "192.168.108.212/20"
            mtu: 1500
            routes:
              - network: "0.0.0.0/0"
                gateway: "192.168.108.1"
  - hostname: "ritmhouse"
    ipAddress: "192.168.108.115"
    installDiskSelector:
      serial: "50026B76860F774C"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/2f1c847e5457afb7846b421f696d72f212633499dfe7f16fd667081b7904cfc6
    controlPlane: false
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "e8:ff:1e:d2:1b:d1"
        vlans:
          - vlanId: 222
            addresses:
              - "192.168.108.115/20"
            mtu: 1500
            routes:
              - network: "0.0.0.0/0"
                gateway: "192.168.108.1"
  - hostname: "kimi"
    ipAddress: "192.168.100.228"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/2f1c847e5457afb7846b421f696d72f212633499dfe7f16fd667081b7904cfc6
    controlPlane: false
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "0e:c0:00:4d:82:92"
        vlans:
          - vlanId: 222
            addresses:
              - "192.168.100.228/20"
            mtu: 1500
            routes:
              - network: "0.0.0.0/0"
                gateway: "192.168.108.1"

# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/cluster.yaml"

