---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/apps.emqx.io/emqx_v2beta1.json
apiVersion: apps.emqx.io/v2beta1
kind: EMQX
metadata:
  name: emqx
spec:
  image: public.ecr.aws/emqx/emqx:5.8.9
  config:
    data: |
      listeners.ssl.default {
        bind = "0.0.0.0:8883"
        ssl_options {
          cacertfile = "/mounted/cert/ca.crt"
          certfile = "/mounted/cert/tls.crt"
          keyfile = "/mounted/cert/tls.key"
          gc_after_handshake = true
          handshake_timeout = 5s
        }
      }
      listeners.ws.default {
        bind = "0.0.0.0:8083"
        max_connections = 1024000
        websocket.mqtt_path = "/mqtt"
        }
      listeners.wss.default {
        bind = "0.0.0.0:8084"
        max_connections = 1024000
        websocket.mqtt_path = "/mqtt"
        ssl_options {
          certfile = "/mounted/prod/tls.crt"
          keyfile = "/mounted/prod/tls.key"
        }
      }
      authentication {
        backend = "built_in_database"
        mechanism = "password_based"
        password_hash_algorithm {
            name = "bcrypt"
        }
        user_id_type = "username"
      }
      authorization {
        sources = [
          {
            type = built_in_database
            enable = true
          }
        ]
        no_match: "deny"
      }
      mqtt {
        max_packet_size="2MB"
      }
  bootstrapAPIKeys:
    - secretRef:
        key:
          secretName: emqx-secret
          secretKey: X_EMQX_APIKEY_KEY
        secret:
          secretName: emqx-secret
          secretKey: X_EMQX_APIKEY_SECRET
  coreTemplate:
    metadata:
      annotations:
        reloader.stakater.com/auto: "true"
    spec:
      replicas: 3
      envFrom: &envFrom
        - secretRef:
            name: emqx-secret
      extraContainers:
        - name: init-mqtt
          image: docker.io/library/python:3.13-alpine
          env:
            - name: X_EMQX_ADDRESS
              value: emqx-dashboard.home.svc.cluster.local:18083
          envFrom: *envFrom
          command: ["python", "/init-mqtt.py"]
          volumeMounts:
            - name: init-mqtt
              mountPath: /init-mqtt.py
              subPath: init-mqtt.py
      volumeClaimTemplates:
        storageClassName: longhorn-fast
        resources:
          requests:
            storage: 256Mi
        accessModes:
          - ReadWriteMany
      extraVolumes:
        - name: init-mqtt
          configMap:
            name: emqx-init-mqtt-configmap
        - name: emqx-tls
          secret:
            secretName: emqx-tls
        - name: prod-cert
          secret:
            secretName: "${SECRET_DOMAIN/./-}-production-tls"
      extraVolumeMounts:
        - name: emqx-tls
          mountPath: /mounted/cert
        - name: prod-cert
          mountPath: /mounted/prod
  listenersServiceTemplate:
    metadata:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: "emqx.${SECRET_DOMAIN}"
        lbipam.cilium.io/ips: 192.168.108.10
    spec:
      type: LoadBalancer
  dashboardServiceTemplate:
    spec:
      type: LoadBalancer